/* Själva rutan som kommer ner */
#chatLayer 
{
    flex-direction: column;
    display: none; /* Detta måste stå här för att den ska vara borta vid start */
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 280px;
    height: 450px;
    flex-direction: column; /* Förbered för flex, även om den är dold */
    z-index: 1000;
    background-color: #e8fbde;
    border: 2px solid #0b490b; /* Giftgrön ram */
    box-shadow: 0 0 10px #0a470a;
    box-sizing: border-box; /* Gör att width: 280px faktiskt är 280px inkl. allt */
    overflow: hidden;       /* Förbjuder yttre skroll */
    
}

/* Meddelandehistoriken */
#chatLayerMessages {
    height: 300px; 
    overflow-y: auto; /* Skrollfunktionen! */
    border-bottom: 1px solid #d2103d; /* Giftrosa linje */
    padding: 10px;
    scrollbar-color: #299229 #ffffff; /* För Firefox */
}

/* Input-rutan */
#chatmessage {
    background-color: #fcfcfc;
    color: #094709; /* Grön text när man skriver */
    border: 1px solid #0a550a;
    box-sizing: border-box; /* Samma här, förhindrar att textarean "sticker ut" */
}

/* Skicka-knappen */
input[type="button"][value="Chat"] {
    background-color: #d61c3e !important; /* Giftrosa knapp */
    color: white;
    font-weight: bold;
    cursor: pointer;
}
