*
{
	font-size: 14px;
	font-family: arial;
}
personnelRegistry
{
	backgroun-color: #ffffff;
	width: 100%;
}
employee
{
	display: table;
	margin-left: 30;
	border-top: 1px solid;
	border-collapse: collapse;
	border-color: #000000;
}
employeeCode, name, signatureDate, dateOfBirth, sex, bloodType, height, weight, rank, securityAccessLevel, department
{
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	background-color: #b0dfdf;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	display: table-cell;
}
employeeCode, signatureDate, securityAccessLevel
{
	width: 100px;
}
rank
{
	width: 150px;
}
department
{
	width: 250px;
}
dateOfBirth, sex, bloodType, height, weight
{
	width: 70px;
}
name
{
	display: table-cell;
	width: 210px;
	background-color: #548d8d;
	color: #0000ff;
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
	vertical-align: middle;
}
background, strengths, weaknesses
{
	display: none;
}
